
/*
	Grid
*/
.gs-row {
	overflow: hidden;
	width: 100%;
}

.gs {
	display: block;
	float: left;
	width: 100%;
	padding: 0 0.875em;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*
	Portions
*/
.gs-1-1 { width: 100%; }
.gs-1-2 { width: 50%; }
.gs-1-3 { width: 33.3333333333%; }
.gs-1-4 { width: 25%; }
.gs-1-5 { width: 20%; }

.gs-2-3 { width: 66.6666666666%; }
.gs-3-4 { width: 75%; }
.gs-2-5 { width: 40%; }
.gs-3-5 { width: 60%; }
.gs-4-5 { width: 80%; }

/*
	Stacks
*/
@media only screen and (max-width: 60em) { /* < 960 */
	.gs-1-5, .gs-4-5 { width: 50%; }
}

@media only screen and (max-width: 55em) { /* < 880 */
	.gs-1-4, .gs-3-4 { width: 50%; }
}

@media only screen and (max-width: 45em) { /* < 720 */
	.gs-1-3, .gs-1-4, .gs-1-5,
	.gs-2-3, .gs-3-4, .gs-2-5, .gs-3-5, .gs-4-5 { width: 100%; }
}

@media only screen and (max-width: 35em) { /* < 560 */
	.gs-1-2, .gs-1-3, .gs-1-4, .gs-1-5,
	.gs-2-3, .gs-3-4, .gs-2-5, .gs-3-5, .gs-4-5 { width: 100%; }
}