body {
	font-family: "Helvetica Neue", "Open Sans", "DejaVu Sans", "Arial", sans-serif;
	background: #E3E3E3;
	color: #444;
}

h1, h2, h3 {
	font-weight: 800;
	color: #3C8DC5;
	margin: 0 0 0.875em 0;
	letter-spacing: 1px;
}

p {
	margin: 0 0 1em 0;
	line-height: 1.75em;
}

code {
	background-color: #303030;
	color: #EAEAEA;
	display: block;
	margin: 14px 0px;
	padding: 8px 13px;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.container {
	padding: 34px;
	max-width: 460px;
	margin: 6% auto;
	background: #fff;

	border: 5px solid #dedede;

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}