body {
	font-family: "Open Sans", "Helvetica Neue", "DejaVu Sans", "Arial", sans-serif;

	background: #FFF;
	color: #333;

	width: 60%;
	margin: 2em auto;
}

a, a:visited {
	color: #4DBCE9;
}

a:hover, a:active {
	color: #26ADE4;
}

code {
	background: #D1E751;
	padding: 2px 6px;
	border-radius: 4px;
}